/* Seção principal */
.serviceContainer {
  @apply w-full p-2 sm:p-8 bg-[#92A8D1] text-[#6B5B95]; /* Azul Nebuloso */
}

/* Container do conteúdo */
.serviceContent {
  @apply mx-auto bg-[#F2E9DC] rounded-lg p-8 shadow-lg; /* Creme Papel Antigo */
}

/* Cabeçalhos */
.serviceHeader {
  @apply text-3xl font-bold text-white  mb-4 text-left; /* Texto Lilás Profundo */
}

.serviceSubHeader {
  @apply text-lg font-semibold text-white opacity-90 mb-6 text-left;
}

/* Indicadores */
.indicatorContainer {
  @apply flex justify-center mt-6 gap-2;
}

.indicatorDot {
  @apply w-3 h-3 rounded-full bg-gray-500 cursor-pointer; /* Cinza */
}

.indicatorDot.active {
  @apply bg-[#A7D397]; /* Verde Vibrante */
}

/* Botões de navegação */
.navButton {
  @apply bg-[#A7D397] text-white p-2 rounded-md hover:bg-green-800 transition duration-200;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

/* Rodapé */
.footer {
  @apply mt-8 text-center text-white;
}

.footerLink {
  @apply text-white underline hover:text-green-800;
}

/* Responsividade */
@media (max-width: 768px) {
  .serviceContent {
    @apply p-4;
  }

  .serviceHeader {
    @apply text-2xl; /* Reduz o tamanho do cabeçalho no mobile */
  }

  .serviceSubHeader {
    @apply text-base; /* Reduz o tamanho do subtítulo no mobile */
  }

  .footer {
    @apply text-sm; /* Diminui o tamanho do texto no rodapé */
  }

  .indicatorContainer {
    @apply gap-1; /* Reduz o espaçamento entre os indicadores */
  }

  .indicatorDot {
    @apply w-2 h-2; /* Diminui o tamanho das bolinhas no mobile */
  }

  .navButton {
    width: 32px; /* Reduz a largura dos botões de navegação */
    height: 32px; /* Garante que o botão também seja menor */
    margin: 0 0.5rem; /* Ajusta o espaçamento lateral dos botões */
  }
}
