/* Seção principal */
.newReleaseSection {
  @apply w-full p-2 sm:p-8 bg-[#92A8D1] text-[#6B5B95]; /* Azul Nebuloso e textos Lilás Profundo */
}

/* Conteúdo do container com fundo creme */
.container {
  @apply w-full bg-[#F2E9DC] rounded-lg p-8 shadow-lg; /* Creme Papel Antigo */
}

/* Cabeçalho */
.newReleaseHeader {
  @apply mb-4 text-left text-[#6B5B95]; /* Texto Lilás Profundo */
}

/* Estilo para o título da página */
.pageTitle {
  @apply text-3xl font-bold text-white mb-4 text-left; /* Título principal em Lilás Profundo */
}

/* Carrossel de livros */
.booksCarousel {
  @apply flex items-center justify-between mb-4; /* Adiciona espaçamento inferior ao carrossel */
  position: relative;
}

/* Cartões de livros */
.bookCard {
  flex: 0 0 300px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease; 
  @apply bg-[#F2E9DC] p-4 rounded-lg shadow-lg; /* Fundo Creme Papel Antigo */
}

.bookCard:hover {
  transform: scale(1.05);
}

.bookImage {
  @apply w-full h-96 p-2 rounded-lg object-cover shadow-lg bg-[#A7D397]; 
}

.bookTitle {
  @apply text-xl font-semibold text-[#6B5B95] mb-1; /* Texto Lilás Profundo */
}

.bookAuthor {
  @apply text-[#6B5B95] opacity-70; /* Texto Lilás com opacidade */
}

.bookPrice {
  @apply text-lg font-bold text-[#6B5B95]; /* Texto Lilás Profundo */
}

/* Botões de navegação */
.navBooksButton {
  @apply bg-[#A7D397] text-[#F2E9DC] p-2 rounded-md hover:bg-green-800 transition duration-200; /* Verde Vibrante com hover em Azul Nebuloso */
  width: 40px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Indicadores */
.indicatorBooksContainer {
  @apply flex justify-center mt-4 md:mt-6 gap-2;
}

.indicatorBooksDot {
  @apply w-3 h-3 rounded-full bg-gray-500; /* Verde Vibrante */
}

.indicatorBooksDot.active {
  @apply bg-[#A7D397]; /* Dourado Suave para indicador ativo */
}

.booksGrid {
  display: flex;
  gap: 16px;
  justify-content: center;
}

/* Botão de ação */
.actionButtonWrapper {
  @apply flex justify-center mt-6 mb-4; /* Adiciona margem inferior ao botão de ação */
}

.actionButton {
  @apply bg-[#A7D397] text-white py-3 px-6 rounded-lg hover:bg-green-800 transition;
}

@media (max-width: 768px) {
  .bookCard {
    flex: 0 0 100%; 
    max-width: 100%; 
  }

  .bookImage {
    @apply w-full h-auto; 
  }

  .booksGrid {
    flex-direction: column; 
    gap: 20px; 
  }

  .container {
    @apply w-full p-4; /* Adiciona padding em todos os lados */
  }
}
